/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: lightgreen
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

h1 {
	font-family: "Simonetta", serif;
}
